@import "tailwindcss";

@layer base {
  :root {
    --primary: 34 197 94; /* green-500 fallback */
    --secondary: 16 185 129; /* emerald-500 fallback */
  }
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #000000; /* Apple OLED Black */
  color: #ffffff; /* White text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utilitário para o Marquee (Slider Infinito) */
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%); /* Anima até a metade (pq o conteúdo é duplicado) */
    }
  }
  
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
  
  .animate-marquee:hover {
    animation-play-state: paused;
  }
}
